*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
}

main {
    padding-top: 4rem;
    position: relative;
}

header {
    height: 4rem;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    z-index: 1000;
}

.banner {
    background-color: #d8d8d8;
    width: 100%;
    display: flex;
}

button {
    color: white;
    background-color: #9B9B9B;
    border: none;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 500;
    flex-shrink: 1;
    border-radius: 2px;
    
}

button:hover
{
    background-color: grey;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .5px;
}

p {
    letter-spacing: .5px;
}


@media only screen and (max-width: 630px) {
    
    .mobile{
        display: none;
    }






}





@media only screen and (max-width: 630px) {
    .desktop {
        display: none;
    }

    nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 2rem;
    }

   /* Mobile Banner */ 

    .banner {
        flex-direction: column;
        padding-bottom: 2rem;
        width: 100%;
        overflow: hidden;
        
    }

    .left_pic {
        
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        position: relative;
    }

    .left_pic img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .right_description {
        padding: 0px 1rem;
        padding-top: 1rem;
    }



    .banner h2 {
        padding-bottom: 1.5rem;
    }

   h1.banner {
       padding-top: 2rem;
   }
   
    button {
        width: 100%;
    }

   /* Second Banner mobile */

   #left-container {
       display: none;
   }

    .thumbnail #desktop {
       display: none;
   }
   
   .second-banner {
       padding: 0px 1rem;
       padding-top: 1rem;
       padding-bottom: 2rem;
       border-bottom: solid 1px #E8E9E8;
   }

   #right-container {
    
   }

   .container{
       position: relative;
       border-top: solid 1px #E8E9E8;
       
       
   }

   .thumbnail {
       position: relative;
       width: 100%;
   }

   .thumbnail img {
       display: block;
       max-width: 100%;
       height: auto;
       flex-grow: 2;
   }

    .description {
       padding: 2.5rem 1rem;
       display: flex;
       flex-direction: column;
       max-height: 250px;
       box-sizing: border-box;
   }


   .description p {
       padding: .7rem 0px;
       line-height: 1.5;
   }

   .description a {
       text-decoration: none;
       color: #588CDC;
       letter-spacing: .5px;
   }

  /* Courses */ 

  .study-pic {
      display: none;
  }

  .areas-of-study .description p {
      display: none;
  }

  .areas-of-study {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 1rem;
    padding-bottom: 2rem;
  }

  

  .areas-of-study h1 {
      text-align: center;
      padding-bottom: 1rem;
      padding-top: 2rem;
  }

  .areas-of-study .container {
      background-color: #d8d8d8;
      display: flex;
      margin-bottom: .5rem; 
  }

  .areas-of-study .container:hover{
      background-color: #9B9B9B;
  }

/* Thesis Exhibit */

.thesis-container h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.thesis-container video {
    max-width: 100%;
    height: auto;
    display: block;
    padding-bottom: 1.5rem;
}
    
/* Footer */
footer {
    height: auto;
    align-items: center;
}

#copyright {
    align-items: center;
}

footer h6 {
    padding: 1rem 0px;
    position: relative;
    font-weight: 100;
    padding-left: 1rem;
}






}

